:root {
	font-family: Rajdhani, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	letter-spacing: 0.1em;

	color-scheme: light dark;
	background-color: #000;
	color: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	margin: 0;
	overflow: hidden;

	user-select: none;
	-webkit-user-select: none;
}

svg {
	border: none;
	outline: none;
}

p, .checkbox-label span {
	font-weight: 500;
	font-size: 20px;
}

/* Background */

.bg {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}
.bg img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	filter: blur(calc(var(--bg-blur) * 1px)) brightness(var(--bg-bright));
	-webkit-filter: blur(calc(var(--bg-blur) * 1px)) brightness(var(--bg-bright));
}

.bg img:last-child {
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
}
.bg-fade-out {
	transition: all var(--fade-duration) ease-in-out;
	opacity: 0;
	-webkit-transition: all var(--fade-duration) ease-in-out;
	-moz-transition: all var(--fade-duration) ease-in-out;
	-ms-transition: all var(--fade-duration) ease-in-out;
	-o-transition: all var(--fade-duration) ease-in-out;
}

/* Settings */

.setting-icon {
	fill: white;
	position: fixed;
	transition: fill 400ms ease;
	-webkit-transition: fill 400ms ease;
	-moz-transition: fill 400ms ease;
	-ms-transition: fill 400ms ease;
	-o-transition: fill 400ms ease;
}

.setting-icon:hover {
	fill: #aaa;
	transition: fill 400ms ease;
	-webkit-transition: fill 400ms ease;
	-moz-transition: fill 400ms ease;
	-ms-transition: fill 400ms ease;
	-o-transition: fill 400ms ease;
}

.setting-open {
	width: 40px;

	bottom: 10px;
	left: 10px;
}

.setting-close {
	width: 30px;

	bottom: 8px;
	left: 15px;
}

.setting-panel {
	width: max(450px, 32.292vw);
	height: 100%;

	background-color: #000000b3;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
	border-radius: 0px 10px 10px 0px;

	position: fixed;
	z-index: 1;

	top: 0;
	left: 0;
}

.setting-panel-scroll {
	height: 90%;
	overflow-x: hidden;
	overflow-y: scroll;

	padding: 20px;

	mask-image: linear-gradient(to bottom, black 0% 95%, transparent 100%), linear-gradient(to left, black 0% 10%, transparent 10%);
	mask-position: left;
	mask-repeat: no-repeat;
	mask-composite: add;

	-webkit-mask-image: linear-gradient(to bottom, black 0% 95%, transparent 100%), linear-gradient(to left, black 0% 2%, transparent 2%);
	-webkit-mask-position: left;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-composite: add;
}

.scrollbar-track-y {
	background-color: #00000000 !important;

	width: 10px !important;

	/*margin-top: 10px !important;
	margin-bottom: 10px !important;*/
}

.scrollbar-thumb-y {
	width: 6px !important;
	background-color: #eaeaea !important;
	border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	-ms-border-radius: 6px !important;
	-o-border-radius: 6px !important;
}

.setting-panel-scroll h1 {
	font-size: max(36.29px, 2.604vw);
	line-height: 1em;
	font-weight: 600;

	margin-top: 2.2vw;
}

.setting-panel-scroll h2 {
	font-size: max(29px, 2.083vw);
	line-height: 1em;
	font-weight: 600;

	margin: 1vw 0;
}

.main-settings-panel {
	margin: 1vw 0;
}

.checkbox-main {
	margin: 10px 0;
}

@keyframes checkbox-anime {
	50% {
		transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
	}
}

.checkbox-input {
	visibility: hidden;
}

.checkbox-label {
	cursor: pointer;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
}

.checkbox-label span {
	padding-left: 20px;

	position: relative;
	top: -8px;
	left: 0;
}

.checkbox-label svg {
	position: relative;
	top: 0;
	left: 0;

	width: 26px;
	height: 26px;

	padding: 2px;

	border: 1px solid #e0e0e0;
	border-radius: 6px;

	fill: none;
	stroke: #fff;
	stroke-width: 15%;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;

	transition: all 0.3s ease;
	transition-delay: 10ms;
}

.checkbox-label:hover svg {
	border-color: var(--checkbox-main-color);
}

.checkbox-input:checked + .checkbox-label svg {
	background: var(--checkbox-main-color);
	border-color: var(--checkbox-main-color);

	stroke-dashoffset: 0;

	animation: checkbox-anime 0.4s ease;
	-webkit-animation: checkbox-anime 0.4s ease;
}

.slider-main {
	margin: 15px 0;
}

.slider-main p {
	display: block;
	position: relative;
	height: 25px;

	margin-bottom: 10px;
}

.slider-main span:first-child {
	position: absolute;
	left: 0;
	top: 0;
	text-align: left;
}

.slider-main span:last-child {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;

	font-size: 16px;
}

.slider-main input {
	box-sizing: border-box;

	height: 20px;
	width: 100%;

	background-color: transparent;

	cursor: pointer;
	-webkit-appearance: none;
}

.slider-main input:focus {
	outline: none;
}

.slider-main input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;

	background-color: var(--slider-main-color);

	margin-top: -10px;
	border-radius: 20px;

	cursor: pointer;
	border: 2px solid transparent;

	transition: all 200ms ease, background-color 500ms ease;
	-webkit-transition: all 200ms ease, background-color 500ms ease;
	-moz-transition: all 200ms ease, background-color 500ms ease;
	-ms-transition: all 200ms ease, background-color 500ms ease;
	-o-transition: all 200ms ease, background-color 500ms ease;
}
.slider-main input:hover::-webkit-slider-thumb {
	border-color: hsla(0, 0%, 100%, 0.6);

	transition: all 200ms ease 10ms;
	-webkit-transition: all 200ms ease 10ms;
	-moz-transition: all 200ms ease 10ms;
	-ms-transition: all 200ms ease 10ms;
	-o-transition: all 200ms ease 10ms;
}
.slider-main input:active::-webkit-slider-thumb {
	border-color: white;

	transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
}

.slider-main input::-webkit-slider-runnable-track {
	width: 100%;
	height: 0px;

	background-color: transparent;
	border-radius: 5px;
	border: 2.5px solid white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

	cursor: pointer;

	transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
}

.slider-main input:hover::-webkit-slider-runnable-track {
	border-color: hsla(0, 0%, 100%, 0.7);

	transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
}

.bg-settings-panel p {
	margin-bottom: 10px;
}

.bg-panel {
	--gap-size: 0.75vw;

	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-size);
}

.bg-content {
	display: inline-block;
	position: relative;
	overflow: hidden;

	width: calc(50% - var(--gap-size));

	padding: calc(var(--gap-size) / 2);

	text-align: center;
	cursor: pointer;
}

.bg-content img {
	vertical-align: middle;
	width: 100%;
}

.bg-content:hover .content-up-down:before,
.bg-content:hover .content-up-down:after,
.bg-content:hover .content-left-right:before,
.bg-content:hover .content-left-right:after,
.bg-content[class*="selected-bg"] .content-up-down:before,
.bg-content[class*="selected-bg"] .content-up-down:after,
.bg-content[class*="selected-bg"] .content-left-right:before,
.bg-content[class*="selected-bg"] .content-left-right:after {
	transform: translate3d(0, 0, 0);
	transition: background-color 500ms ease, transform 600ms cubic-bezier(.5,.25,0,1);
	-webkit-transition: background-color 500ms ease, transform 600ms cubic-bezier(.5,.25,0,1);
	-moz-transition: background-color 500ms ease, transform 600ms cubic-bezier(.5,.25,0,1);
	-ms-transition: background-color 500ms ease, transform 600ms cubic-bezier(.5,.25,0,1);
	-o-transition: background-color 500ms ease, transform 600ms cubic-bezier(.5,.25,0,1);
}

.content-left-right:before,
.content-left-right:after,
.content-up-down:before,
.content-up-down:after {
	--border-length: 3px;

	content: "";
	position: absolute;
	z-index: 1;

	background-color: var(--bg-content-color);
	/*background-color: hsl(209, 100%, 54%);*/

	transition: background-color 500ms ease, transform 600ms cubic-bezier(.5,.25,0,1);
	-webkit-transition: background-color 500ms ease, transform 600ms cubic-bezier(.5,.25,0,1);
	-moz-transition: background-color 500ms ease, transform 600ms cubic-bezier(.5,.25,0,1);
	-ms-transition: background-color 500ms ease, transform 600ms cubic-bezier(.5,.25,0,1);
	-o-transition: background-color 500ms ease, transform 600ms cubic-bezier(.5,.25,0,1);
}

.content-left-right:before, .content-left-right:after {
	left: 0;

	height: var(--border-length);
	width: 100%;
}
.content-up-down:before, .content-up-down:after {
	top: 0;

	height: 100%;
	width: var(--border-length);
}

.content-left-right:before {
	top: 0;
	transform: translate3d(-105%, 0, 0);
	-webkit-transform: translate3d(-105%, 0, 0);
	-moz-transform: translate3d(-105%, 0, 0);
	-ms-transform: translate3d(-105%, 0, 0);
	-o-transform: translate3d(-105%, 0, 0);
}
.content-left-right:after {
	bottom: 0;
	transform: translate3d(105%, 0, 0);
	-webkit-transform: translate3d(105%, 0, 0);
	-moz-transform: translate3d(105%, 0, 0);
	-ms-transform: translate3d(105%, 0, 0);
	-o-transform: translate3d(105%, 0, 0);
}
.content-up-down:before {
	left: 0;
	transform: translate3d(0, 105%, 0);
	-webkit-transform: translate3d(0, 105%, 0);
	-moz-transform: translate3d(0, 105%, 0);
	-ms-transform: translate3d(0, 105%, 0);
	-o-transform: translate3d(0, 105%, 0);
}
.content-up-down:after {
	right: 0;
	transform: translate3d(0, -105%, 0);
	-webkit-transform: translate3d(0, -105%, 0);
	-moz-transform: translate3d(0, -105%, 0);
	-ms-transform: translate3d(0, -105%, 0);
	-o-transform: translate3d(0, -105%, 0);
}

/* Status */

.status-bar {
	position: fixed;
	z-index: 5;

	width: 100%;
}

.status-bar svg {
	fill: #fff;
}

.monitor-brightness, .battery-percent {
	position: absolute;

	margin: 3px 6px;
}

.monitor-brightness span, .battery-percent span {
	margin-left: 3px;

	vertical-align: top;

	font-weight: bold;
	font-size: 16px;
}

.monitor-brightness {
	left: 0;
}

.monitor-brightness svg {
	height: 17px;
}

.battery-percent {
	right: 0;
	text-align: right;
}

.battery-percent svg {
	height: 19px;
}

/* Clock */

.clock {
	position: fixed;
	z-index: 0;

	top: 50%;
	left: 50%;

	margin: 0;
	margin-right: -50%;

	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);

	text-align: center;
	vertical-align: middle;

	text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.clock p {
	font-family: 'LaongLaan';
	font-style: normal;
	font-weight: 400;
	font-size: 95px;
	line-height: 136px;
}

.clock p span {
	font-family: 'Heorot';
}

.clock p span[class*="time-colon"] {
	position: relative;
	bottom: 10px;
}

/* Power */

.power {
	position: fixed;
	z-index: 1;

	right: 0;
	bottom: 0;
}

.power svg {
	fill: #fff;
}

.power-button {
	position: absolute;

	right: 0;
	bottom: 0;

	margin: 25px;
	padding: 5px;

	text-align: right;
}

.power-button:hover {
	background-color: #fff4;
}

.power-button svg {
	vertical-align: middle;
	width: 25px;
}

.power-panel {
	position: absolute;
	overflow: hidden;

	right: 0;
	bottom: 80px;

	width: 160px;
	background-color: #323232;
}

.power-panel div {
	padding: 9px 10px;
}

.power-panel div:hover {
	background-color: #505050;
}

.sleep-pad svg {
	padding: 0 2.5px;
}

.power-panel div svg {
	height: 20px;
	vertical-align: middle;
}

.power-panel div span {
	margin-left: 10px;

	font-weight: 500;
	font-size: 16px;
	vertical-align: middle;
}

/* Logging */

.logging-panel {
	position: fixed;
	z-index: 0;

	top: 50%;
	left: 50%;

	margin: 0;
	margin-right: -50%;

	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);

	text-align: left;
}

.logging-panel p {
	font-size: 26px;
	text-align: center;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
	width: 300px;
}

.textbox-frame {
	position: relative;
	z-index: 0;

	display: flex;
	gap: 24px;
}

@keyframes missing_input_anim {
	0% {
		left: 0;
	}
	33% {
		left: 10px;
	}
	66% {
		left: -10px;
	}
	100% {
		left: 0;
	}
}

.textbox-missing {
	animation: missing_input_anim 250ms ease;
	-webkit-animation: missing_input_anim 250ms ease;
}

.textbox-main {
	position: relative;
	z-index: 0;
	left: 0;
	top: 0;

	width: 300px;
	height: 36px;

	background: rgba(255, 255, 255, 0.7);
	border: 3px solid rgba(45, 45, 45, 0.7);
	border-radius: 97px;

}

.textbox-main span:first-child:focus {
	outline: 0;
}

.textbox-main span:first-child::selection {
	color: #e8e8e8;
	background-color: #0007;
}

.textbox-main span:first-child {
	position: absolute;
	z-index: 1;
	display: inline-block;

	height: 100%;
	margin: 1px 12px;

	color: #232323;
	white-space: nowrap;
	overflow: hidden;

	vertical-align: middle;
	caret-color: transparent;
}

.user-text-box span:first-child {
	width: 270px;

	font-weight: 500;
	font-size: 20px;
	letter-spacing: 0.05em;
}

.pass-text-box span:first-child {
	width: 240px;

	font-family: 'Phyrexia Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.24em;
}

.pass-showed-text-box span:first-child {
	font-family: Rajdhani, Arial, sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 0.05em;
}

@keyframes caret-animate {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.input-caret {
	position: absolute;
	z-index: 2;
	left: var(--caret-position);
	top: 0;
	width: 0px;
	height: 91%;
	border-radius: 0.1vw;
	margin: 0.5% 12px;
	padding: 0;
	background-color: #202020;

	border: 0.01vw solid #202020;
	-webkit-border-radius: 0.1vw;
	-moz-border-radius: 0.1vw;
	-ms-border-radius: 0.1vw;
	-o-border-radius: 0.1vw;

	transition: left 50ms ease-in-out, opacity 100ms ease;
	-webkit-transition: left 50ms ease-in-out, opacity 100ms ease;
	-moz-transition: left 50ms ease-in-out, opacity 100ms ease;
	-ms-transition: left 50ms ease-in-out, opacity 100ms ease;
	-o-transition: left 50ms ease-in-out, opacity 100ms ease;
}

.input-caret-animate {
	animation: caret-animate 1s ease infinite;
	-webkit-animation: caret-animate 1s ease infinite;
}

@keyframes arrow_animate {
	0% {
		transform: translate3d(-3px, 0, 0);
		-webkit-transform: translate3d(-3px, 0, 0);
		-moz-transform: translate3d(-3px, 0, 0);
		-ms-transform: translate3d(-3px, 0, 0);
		-o-transform: translate3d(-3px, 0, 0);
	}
	50% {
		transform: translate3d(3px, 0, 0);
		-webkit-transform: translate3d(3px, 0, 0);
		-moz-transform: translate3d(3px, 0, 0);
		-ms-transform: translate3d(3px, 0, 0);
		-o-transform: translate3d(3px, 0, 0);
	}
	100% {
		transform: translate3d(-3px, 0, 0);
		-webkit-transform: translate3d(-3px, 0, 0);
		-moz-transform: translate3d(-3px, 0, 0);
		-ms-transform: translate3d(-3px, 0, 0);
		-o-transform: translate3d(-3px, 0, 0);
	}
}

.textbox-arrow {
	position: relative;
	z-index: 0;
	right: 0;
	top: 0;
	padding: 2px 0;
	display: inline;
	animation: arrow_animate 2s ease-in-out infinite;
	-webkit-animation: arrow_animate 2s ease-in-out infinite;
}

.textbox-arrow svg {
	stroke: #fff;
	transition: stroke 150ms ease;
	-webkit-transition: stroke 150ms ease;
	-moz-transition: stroke 150ms ease;
	-ms-transition: stroke 150ms ease;
	-o-transition: stroke 150ms ease;
}

.textbox-arrow:hover svg {
	stroke: #aaa;
	transition: stroke 150ms ease;
	-webkit-transition: stroke 150ms ease;
	-moz-transition: stroke 150ms ease;
	-ms-transition: stroke 150ms ease;
	-o-transition: stroke 150ms ease;
}

.pass-icon {
	position: absolute;
	right: 0;
	top: 0;

	margin: 4px 0;
	margin-right: 10px;

	width: 25px;

	fill: #505050;
}

.user-list-panel {
	position: absolute;

	left: 14px;
	top: 33px;

	margin: 0;

	width: 268px;

	background-color: rgba(45, 45, 45, 0.7);

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

p.user-list-content {
	position: relative;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 8px 0;

	font-style: normal;
	font-weight: 600;
	font-size: 20px;

	line-height: 26px;
	letter-spacing: 0.15em;

	text-align: center;
	vertical-align: middle;

	color: #fff;
}

p.user-list-content::before {
	position: absolute;
	display: inline-block;
	content: '';

	background-color: #fff;

	left: 50%;
	bottom: -1px;

	width: 250px;
	height: 1px;

	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);

	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
}

p.user-list-content:last-child::before {
	display: none;
}

p.user-list-content:hover, .user-list-content-selected {
	background-color: #fff2;
}

/* Cover */

.index_cover {
	position: fixed;
	z-index: 100;
	display: block;
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 500ms ease-in-out;
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-ms-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
}

.index_cover_anim {
	opacity: 1;
	transition: opacity 500ms ease-in-out;
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-ms-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
}
